body{
 margin: 0;
 background-color: rgb(240, 240, 240);
}

header{
    display: grid;
    gap: 10px;
    color: white;
}

h1{
 text-align: center;
 background-color: black;
 margin: 0;
 padding: 70px;
 font-size: 50px;
}

ul{
 display: grid;
 grid-template-columns: 150px 150px 150px;
 justify-content: center;
 gap: 10px;
}

li{
 background-color: black;
 border-radius: 10px;
 padding: 15px;
 list-style-type: none;
 text-align: center;
}

a{
 color: white;
 text-decoration: none;
 font-size: 20px;
 text-transform: uppercase;
}

main{
 max-width:930px;
 margin: 20px auto;
}

.section--home{
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 gap: 20px;
 justify-content: center;
}

.section--article{
 background-color: white;
 padding: 25px;
 width: 500px;
 transition: transform 0.3s ease; 
}

.section--article:hover{
  transform: scale(1.05);
}

.article{
  background-color: white;
  padding: 20px;
}

.article-figcaption{
  text-align: center;
}

form{
  display: grid;
  justify-content: center;
  border: 1px solid;
  border-radius: 4px;
  padding: 40px 20px;
  width: 600px;
  margin: auto;
  gap: 30px;
}

fieldset{
  display: grid;
  background-color: rgb(240, 240, 240) ;
  width: 500px;
  padding: 20px;

}

.div-option{
  display: block;
}

label{
  padding: 10px;
}

input, select, textarea{
  margin-left: 10px;
}