body{
 background-color: rgb(240, 240, 240);
}

header, footer{
 background-color: rgb(28, 28, 136);
 width: auto;
 border-radius: 10px;
 padding: 10px;
}

h1{
 color: rgb(236, 158, 11);
 font-weight: bold;
 text-align: center;
 padding: 30px;
 margin: 0;
 font-size: 30px;
}

h2, h3, figcaption{
 text-align: center;
 font-weight: bold;
}

main{
 max-width:800px;
 margin: 10px auto;
}

article{
 background-color: rgb(236, 158, 11);
 padding: 20px;
 margin-top: 20px;
 border: solid 1px rgb(204, 204, 204);
 color: white;
 font-size: 16px;
 display: grid;
 justify-content: center;
 align-content: center
}

figure, img{
 width: 400px;
}

footer, p{
 color: rgb(236, 158, 11);
 font-weight: bold;
 text-align: center;
 padding: 30px;
 margin: 0;
}